html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        -128deg,
        rgb(0, 0, 0) 3%,
        rgb(182, 0, 64) 67%,
        rgb(0, 0, 0) 103%
    );
    color: white;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px;
    color: white;
    cursor: pointer;
}

a {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}

a i {
    padding-right: 8px;
}

a {
    position: relative;
    transition-duration: 0.3s;
    overflow: visible;
    box-sizing: border-box;
    border: none;
    padding: 10px 22px;
}

a::after {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 2px solid rgb(255, 255, 255);
    z-index: 2;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    border-top-width: 2px;
    transition: border-top-width 0.1s ease 0.2s, height 0.2s ease 0.1s,
        width 0.2s ease 0s, margin 0.2s ease 0s;
}

a:hover::after {
    width: 60%;
    height: 0px;
    border-width: 0px 2px 2px;
    margin: 0px 20%;
    transition: border-top-width 0.1s ease 0s, height 0.2s ease 0.1s,
        width 0.2s ease 0.2s, margin 0.2s ease 0.2s;
}

hr {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    width: 50%;
}
